# Example Configuration file.  The actually used file is expected to live in
# ${HOME}/.EnergyMonitor/config

[neurio]
clientID:  yourNeurioAppClientID
secret:    yourNeurioAppSecret

[solaredge]
key:      yourSolarEdgeAPIKey

[devicedata]
dburi: mongodb://localhost:27017
datadir: data/db
